.transition1(@time: .2s, @type: ease-in){
  -webkit-transition:all @time @type;
  -moz-transition:all @time @type;
  -o-transition:all @time @type;
  -ms-transition:all @time @type;
  transition:all @time @type;
}
html{
  height: 100%;
}
body{
  height: 100%;
  min-width: 400px;
  color: #000;
}
h1,h2,h3,h4,h5,h6{
  color: #000;
}
.mt20{
  margin-top: 20px;
}
.hide{
  display: none;
}
.container{
  position: relative;
  min-height: 100%;
}
.header{
  position: fixed;
  width: 100%;
  height: 40px;
  color: #fff;
}
.main{
  position: absolute;
  width: 80%;
  min-height: 100%;
  background: #f8f8f8;
  .main-container{
    padding: 20px 40px 40px 40px;
    .title{
      font-size: 15px;
      margin-bottom: 20px;
      .pro{
        font-size: 20px;
        letter-spacing: 1px;
      }
      i{
        /*color: #E08E4E;*/
        color: #A3B94C;
        font-size: 30px;
        margin-right: 10px;
      }
    }
    .content{
      .category:nth-child(odd){
        margin-right: 4%;
      }
      .category{
        float: left;
        width: 48%;
        margin-bottom: 20px;
        .transition1;
        .name{
          font-size: 18px;
          margin-bottom: 5px;
          border-bottom: 1px solid #ddd;
          padding-left: 1em;
          /*border-left: 5px solid #FF9800;*/
          border-left: 5px solid #A3B94C;
          background: #f0f0f0;
          span{
            display: inline-block;
            /*border-bottom: 2px solid #4D4D4D;*/
            .separate{
              font-style: normal;
              color: #888;
              margin: 0 10px;
            }
          }
          .describe{
            display: inline-block;
            margin-left: 0.5em;
            font-style: normal;
            font-size: 12px;
            color: #999;
          }
        }
        .part{
          > ul{
            padding-top: 5px;
            > li{
              position: relative;
              float: left;
              margin-right: 20px;
              margin-bottom: 10px;
              border: 1px solid #f8f8f8;
              a:link{
                display: inline-block;
                vertical-align: top;
                color: #000;
              }
              a:visited{
                color: #333;
              }
              i{
                visibility: visible;
              }
              > ul{
                position: absolute;
                top: 24px;
                left: -1px;
                right: -1px;
                background: #DBEBC3;
                z-index: 1;
                border: 1px solid #DDD;
                border-radius: 0 0 3px 3px;
                li{
                  padding: 0px 8px;
                }
              }
            }
            > li:hover{
              i{
                visibility: visible;
              }
            }
            > li.down{
              padding-left: 8px;
              border: 1px solid #DDD;
              border-radius: 3px;
              .glyphicon{
                border-left: 1px solid #DDD;
                display: inline-block;
                vertical-align: top;
                padding: 0px 8px 0 8px;
                margin-left: 10px;
                color: #A3B94C;
              }
              .glyphicon:hover{
                background: #f0f0f0;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1040px) {
  .category:nth-child(odd){
    margin-right: 0px !important;
  }
  .category{
    width: 100% !important;
  }
}

.sidebar{
  position: fixed;
  right: 0;
  z-index: 1;
  width: 20%;
  min-height: 100%;
  min-width: 200px;
  opacity:1;
  background: #3D4349;
  .transition1;
  .sidebar-container{
    color: #fff;
    padding: 25% 10% 0 10%;
    .title{
      font-size: 20px;
      color: #fff;
    }
    .desc{
      color: #ddd;
      p{
        margin-bottom: 0.5em;
        font-size: 14px;
      }
    }
    .fork{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
.sidebar:hover{
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .main{
    width: 100%;
  }
  .sidebar{
    position: relative;
    width: 100%;
    .sidebar-container{
      padding: 40px;
    }
  }
}

.glyphicon{
  vertical-align: middle;
  margin-left: 5px;
  color: #999;
  cursor: pointer;
}