<!DOCTYPE html>
<html>
<head>
    <title>程序猿之妈妈再也不用担心我找不到在线好工具啦beta2.0</title>
    <meta charset="utf-8">
    <link href="css/typo.css" rel="stylesheet">
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script type="text/javascript">
        window.location.href='unsupport.html';
    </script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="sidebar">
        <div class="sidebar-container">
            <a href="https://github.com/superRaytin/onlineTools"><img src="img/forkme_right_red_aa0000.png" class="fork"></a>
            <h3 class="title">【关于本文档】</h3>
            <div class="desc">
                <p>构建本文档的主要目的是发挥广大程序猿的力量和智慧，找出时下<b>最新最好用的在线工具</b>，从而让我们的编程生活更加简单便利。</p>
                <p><b>你知道的，别人不一定知道。你不知道的，一定有人知道。</b>欢迎大家补充，共同完善，条目不限。</p>
            </div>
            <h3 class="title mt20">【提交条目】</h3>
            <div class="desc">
                <p>如果你有好的点子，欢迎在文档下面留言板中提出，也可以Fork本文档，并<b>Pull request</b>，或者发起一个新的issue，写下要补充的，之后会同步到这里。所有贡献者都会列在文档最后面。</p>
                <p>提交的信息包括URL，如果你觉得有必要，也可加上一句描述，尽量保证准确性。</p>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-container">
            <div class="title">
                <i class="glyphicon glyphicon-thumbs-up"></i><span class="pro">{ 妈妈再也不用担心我找不到在线好工具啦beta2.0 }</span>
            </div>
            <div class="content clearfix">
                <div class="group">
                    <div class="category" data-id="cloud-environment"></div>
                </div>
                <div class="group">
                    <div class="category" data-id="doc-api"></div>
                </div>
                <div class="group">
                    <div class="category" data-id="nodejs-host-free"></div>
                </div>
                <div class="group">
                    <div class="category" data-id="online-editor"></div>
                </div>
                <div class="group">
                    <div class="category" data-id="front-end-tools"></div>
                </div>
                <div class="group">
                    <div class="category" data-id="aids"></div>
                </div>
                <div class="group">
                    <div class="category" data-id="ide"></div>
                </div>
                <div class="group">
                    <div class="category" data-id="image-resources"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="J-tmpl-simple">
    <h1 class="name">
        <span><%= name %></span>
        <% if(describe){ %><em class="describe"><%= describe %></em><% } %>
    </h1>
    <div class="part">
        <% if(items){ %>
        <ul class="clearfix">
            <% _.each(items, function(item){ %>
            <li>
                <a href="<%= item.url %>" target="_blank"><%= item.text %></a>
                <% if(item.sign){ %><i class="glyphicon glyphicon-exclamation-sign" title="查看描述信息"></i><% } %>
            </li>
            <% }) %>
        </ul>
        <% } %>
    </div>
</script>

<script type="text/template" id="J-tmpl-complicate">
    <h1 class="name">
        <span><%= name %></span>
        <% if(describe){ %><em class="describe"><%= describe %></em><% } %>
    </h1>
    <div class="part">
        <ul class="clearfix">
            <% if(items){ %>
                <% _.each(items, function(item){ %>
                <li>
                    <a href="<%= item.url %>" target="_blank"><%= item.text %></a>
                    <% if(item.sign){ %><i class="glyphicon glyphicon-exclamation-sign" title="查看描述信息"></i><% } %>
                </li>
                <% }) %>
            <% } %>
            <% if(subCategory){ %>
                <% _.each(subCategory, function(subItem){ %>
                <li>
                    <span class="sub_category_name"><%= subItem.name %></span>
                    <ul>
                        <% _.each(subItem.items, function(item){ %>
                        <li>
                            <a href="<%= item.url %>" target="_blank"><%= item.text %></a>
                            <% if(item.sign){ %><i class="glyphicon glyphicon-exclamation-sign" title="查看描述信息"></i><% } %>
                        </li>
                        <% }) %>
                    </ul>
                </li>
                <% }) %>
            <% } %>
        </ul>
    </div>
</script>

<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="../config.js"></script>
<script type="text/javascript" src="js/biz.js"></script>
</body>
</html>